absl-py==0.6.1
astor==0.7.1
astroid==2.0.4
atari-py==0.1.6
baselines==0.1.5
Box2D==2.3.2
Box2D-kengz==2.3.3
box2d-py==2.3.5
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
cycler==0.10.0
Cython==0.29
dill==0.2.8.2
future==0.17.1
gast==0.2.0
glfw==1.7.0
grpcio==1.16.0
gym==0.10.9
h5py==2.8.0
idna==2.7
imageio==2.4.1
isort==4.3.4
joblib==0.13.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lockfile==0.12.2
Markdown==3.0.1
matplotlib==3.0.3
mccabe==0.6.1
mpi4py==3.0.0
numpy==1.15.4
opencv-python==3.4.3.18
Pillow==5.3.0
progressbar2==3.38.0
protobuf==3.6.1
pybullet==2.3.9
pycparser==2.19
pyglet==1.3.2
pylint==2.1.1
PyOpenGL==3.1.0
pyparsing==2.3.0
python-dateutil==2.7.5
python-utils==2.3.0
pyzmq==17.1.2
requests==2.20.0
scipy==1.1.0
six==1.11.0
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
torch==1.0.1.post2
torchfile==0.1.0
torchvision==0.2.2.post3
tornado==5.1.1
tqdm==4.28.1
typed-ast==1.1.0
urllib3==1.24.1
visdom==0.1.8.5
websocket-client==0.54.0
Werkzeug==0.14.1
wrapt==1.10.11
zmq==0.0.0
